#LL{background-image: url(https://images.pexels.com/photos/3894157/pexels-photo-3894157.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);text-align: center; font-style: oblique;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; margin: 20px 20px 10px 10pX; padding: 30px 60px 40px ; border-radius: 50px; box-shadow: 15px 10px 30px rgba(245, 0, 225, 0.349);background-repeat: no-repeat; 

    
}
.DJ{ margin: 50px 50px 40px; }